/*css da ana */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
html ,body{
    overflow-x: hidden;
    min-height: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

:root{
    --cor-primaria: #E84676;
    --cor-secundaria: #5F2335;
    --cor-terciaria: #ffffff;
    --cor-quartenária: #e8467761;
    --cor-quinária: #a80035;
}
#topo{
    position: relative;
    background-color: var(--cor-primaria);
    width: 100vw;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header{
    position: relative;
    display: flex;
    background-color: var(--cor-secundaria);
    width: 85%;
    max-width: 1770px;
    height: 100px;
    top: 30%;
}
#redesSociais {
    position: absolute;
    top: 10px; 
    width: 85%;
    max-width: 1770px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding-left: 20px;
    z-index: 10;
}

#redesSociais .caixa {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #5f23351a; 
    border-radius: 10px; 
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}
#redesSociais .caixa:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #5f233540;
}
#youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
}
#instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
}
#whatsapp {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
}


#Menu{
    display: flex;
    align-items:center;
    justify-content: space-between; 
    width: 100%;
}
#logo{
    width: 200px;
    height: auto;
    margin-left: 10px;
}
#logo{
    width: 200px;
}
#Mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

#Mobile-menu section {
    width: 32px;
    height: 2px;
    background-color: var(--cor-terciaria);
    margin: 6px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
}

ul{
    display: flex;
    gap: 30px;
    margin-right: 30px;
}
li{
    list-style: none;
}
a{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
}
a:hover{
    transition: 0.5s;
    color: var(--cor-primaria) ;
}
menu{
    width: 85vw;
    max-width: 3000px;
    height: 45vw;
    max-height: 1500px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    top: 50px;
}

main 
{
    background-color: var(--cor-terciaria);   
    padding:  40px 20px;/* dá espaço interno */         
    border-radius: 10px;
    width: 85%;
    margin: auto;
    max-width: 1000px;
}
.caixaImagem{
    margin: 30px auto;
    width: 90%;
    max-width: 600px;
}
img{
    width: 100%;
}
::selection{
    background-color: #f5a4bb;
    color:var(--cor-terciaria);
}
h1{
    color: var(--cor-quinária);
    background-color: #e58aa5e4;
    border: 100px;
    border-radius: 100px;
}
#adulto p, #infantil p, #misto p, #comtemporaneo p, #ginasticaritmica p{
    padding:  20px 10px;
    text-align: justify;
}
.valor{
    color:var(--cor-quinária);
    border-radius: 100px;
    text-align: left
}
.hora{
    color: var(--cor-quinária);
    border-radius: 100px;
    text-align: center;
    border-radius: 900px;
    background-color: #e58aa5e4;
    width: 60%;
    border: 1px solid;
    font-weight: bold;
    margin: auto;
    transition: transform 0.3s ease;
    font-size: large;
    text-align: center !important; /* força a não pegar o justfy*/

}
.hora:hover{
    transform: scale(1.05);
    transition: 0.5s;
   
}

#infantil {
    text-align: center;
    border-width: 900px;
    background-color: hsl(342, 73%, 47%);
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    border:var(--cor-primaria);
    border-width: 5px;
    border-style: double;
    background-color:var(--cor-terciaria);   
    padding:  40px 30px;         /* dá espaço interno */
    margin-top: 50px;
    
}
#misto{
    text-align: center;
    border-width: 900px;
    background-color: hsl(342, 73%, 47%);
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    border: var(--cor-primaria);
    border-width: 5px;
    border-style: double;
    background-color:var(--cor-terciaria);   
    padding:  40px 20px;         /* dá espaço interno */
    margin-top: 50px;
}
#comtemporaneo{
    text-align: center;
    border-width: 900px;
    background-color: (129, 73%, 47%);
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    border: var(--cor-primaria);
    border-width: 5px;
    border-style: double;
    background-color: var(--cor-terciaria);   
    padding:  40px 20px;         /* dá espaço interno */
    margin-top: 50px;
}
#ginasticaritmica{
    text-align: center;
    border-width: 900px;
    background-color: hsl(342, 73%, 47%);
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    border:var(--cor-primaria);
    border-width: 5px;
    border-style: double;
     background-color: var(--cor-terciaria);   
    padding:  40px 20px;         /* dá espaço interno */
    margin-top: 50px;
}

footer {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    text-align: center;
    padding: 30px 10px;
    font-family: sans-serif;
    font-size: 14px;
}


footer h2 {
    color:var(--cor-primaria);
    margin-bottom: 10px;
    font-size: 20px;
}

footer p {
    margin: 5px 0;
}
footer a {
    color:var(--cor-primaria);
    text-decoration: none;
    margin: 0 8px;
    transition: 0.3s;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor-primaria); 
}

@media (max-width: 999px){
    .dots li{
    width: 5px;
    height: 5px;
    }
    .dots li.ativo{
    width: 10px;
    }
    #SobreNos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #containerDona{
        width: 100%;
        justify-content: center;
    }

    #imgDona{
        width: 100%;
        height: auto;
    }
    .nav-list{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 55vw;
        height: 55vh;
        background-color:var(--cor-secundaria);
        z-index: 10;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.4s ease, transform 0.4s ease ;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        padding: 5px;
    }
    .nav-list li a{
        font-size: 25px;
        word-break: break-word;
    }
    #Mobile-menu{
        display: block;
        position: absolute;
        right: 2vh;
    }
    .nav-list.active{
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 500px){
    .nav-list{
        width: 80vw;
        margin: 0;
    }
    main{
        width: 100%;
    }
    .hora{
        border-radius: 40px;
        width: 90%;
    }
}

/*nav bar responsiva*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
    #Mobile-menu.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
    }
    #Mobile-menu.active .line2 {
        opacity: 0;
    }
    #Mobile-menu.active .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }