@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
::selection{
    background-color: #f5a4bb;
    color: var(--cor-terciaria);
}
html ,body{
    overflow-x: hidden;
    min-height: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

:root{
    --cor-primaria: #E84676;
    --cor-secundaria: #5F2335;
    --cor-terciaria: #ffffff;
    --cor-quartenária: #e8467761;
}
main{
    width: 85%;
    margin: auto;
    max-width: 1700px;
}
#topo{
    background-color: var(--cor-primaria);
    width: 100%; /* ← troque 100vw por 100% */
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    position: relative;
    display: flex;
    background-color: var(--cor-secundaria);
    width: 85%;
    max-width: 1770px;
    height: 100px;
    top: 30%;
}
#redesSociais {
    position: absolute;
    top: 10px; 
    width: 85%;
    max-width: 1770px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding-left: 20px;
    z-index: 10;
}

#redesSociais .caixa {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #5f23351a; 
    border-radius: 10px; 
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}
#redesSociais .caixa:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #5f233540;
}
#youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
}
#instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
}
#whatsapp {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
}


#Menu{
    display: flex;
    align-items:center;
    justify-content: space-between; 
    width: 100%;
}
#logo{
    width: 200px;
    height: auto;
    margin-left: 10px;
}
#logo{
    width: 200px;
}
#Mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

#Mobile-menu section {
    width: 32px;
    height: 2px;
    background-color: var(--cor-terciaria);
    margin: 6px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
}

ul{
    display: flex;
    margin-right: 30px;
    gap: 30px;
}
li{
    list-style: none;
}
a{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
}
a:hover{
    transition: 0.5s;
    color: var(--cor-primaria) ;
}
menu{
    width: 85%;
    max-width: 1700px;
    height: 45vw;
    max-height: 1500px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    top: 50px;
}
#container{
    width: 100%;
    height: 800px;
    margin-top: 70px;
    margin-bottom: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 100px;
}
#contato h1{
    background-color: var(--cor-primaria);
    width: 290px;
    text-align: center;
    font-size: 40px;
    color: var(--cor-terciaria);
    border-radius: 10px 10px 0 0 ;
}
#contato p{
    border: 2px solid var(--cor-primaria);
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 5px;;
}
#meioDeContato{
    display: flex;
    flex-direction: column;
    gap: 20;
}
#meioDeContato li a{
    font-size: 25px;
    color: var(--cor-secundaria);
}
#whats:hover{
    transition: 0.2s;
    font-weight: bold;
    color: #59e477;
}
#insta:hover{
    transition: 0.2s;
    font-weight: bold;
    color: rgb(172, 47, 99);
}
#localização h1{
    background-color: var(--cor-primaria);
    width: 290px;
    text-align: center;
    font-size: 40px;
    color:  var(--cor-terciaria);
    border-radius: 10px 10px 0 0 ;
}
fieldset{
    width: 405px;
    height: 305px;
    margin-bottom: 40px;
}
iframe{
    width: 400px;
    height: 300px;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    text-align: center;
    padding: 30px 10px;
    font-family: sans-serif;
    font-size: 14px;
}


footer h2 {
    color: var(--cor-primaria);
    margin-bottom: 10px;
    font-size: 20px;
}

footer p {
    margin: 5px 0;
}
footer a {
    color: var(--cor-primaria);
    text-decoration: none;
    margin: 0 8px;
    transition: 0.3s;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor-primaria); 
}
@media (max-width: 999px){
    .nav-list{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 55vw;
        height: 55vh;
        background-color: var(--cor-secundaria);
        z-index: 10;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.4s ease, transform 0.4s ease ;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        padding: 5px;
    }
    .nav-list li a{
        font-size: 25px;
        word-break: break-word;
    }
    #Mobile-menu{
        display: block;
        position: absolute;
        right: 2vh;
    }
    .nav-list.active{
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 820px){
    #container{
    margin-top: 200px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 200px;
} 

}
@media (max-width: 500px){
    .nav-list{
        width: 80vw;
        margin: 0;
    }
    #contato h1{
    width: 200px;
    font-size: 30px;
}
    #localização h1{
    margin: auto;
    text-align: center;
    font-size: 30px;
}
    fieldset{
        width: 350px;
        height: 300px;
    }
    iframe{
        width: 350px;
        height: 300px;
    } 
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
    #Mobile-menu.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
    }
    #Mobile-menu.active .line2 {
        opacity: 0;
    }
    #Mobile-menu.active .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }